{% extends "base.html" %}

{% block title %}CONSULTA LABIBOT{% endblock %}

{% block styles %}
	{{ super() }}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
{% endblock %}

{% block content %}
<body style="padding: 25px 0px;">
  <!-- partial:index.partial.html -->
  <input type="hidden" name="ID_UNIQUE" id="ID_UNIQUE" />
  <section class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
        <div class="row">
          <div class="col-3">&nbsp;</div>
          <div class="col-6 text-center">
            <span style="font-weight: bold;"><i class="fas fa-code"></i>&nbsp; Asistente Virtual Online &nbsp;<i class="fas fa-code"></i></span>
          </div>
          <div class="col-3 text-right">
            <a class="btn btn-md btn-secondary" href="/"><i class="fas fa-sign-out-alt"></i> Desconectar</a>
          </div>
        </div>
      </div>
    </header>

    <main class="msger-chat">
      <div class="msg left-msg">
        <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"></div>

        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">Labibot</div>
            <div class="msg-info-time" >12:45</div>
          </div>

          <div class="msg-text">
            Hola, bienvenido(a) al asistente virtual LABIBOT! 😄
          </div>
        </div>
      </div>
    </main>

    <form class="msger-inputarea">
      <input type="text" class="msger-input" id="textInput" placeholder="Escribe tu mensaje...">
      <button type="submit" class="msger-send-btn">Enviar</button>
    </form>
  </section>

  <div id="mymodal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          <p>Envie su consulta a nuestro correo:</p>
          <div class="form-group">
            <label for="txt_nombre">Nombre y Apellido</label>
            <input type="text" class="form-control form-control-lg" id="txt_nombre">
          </div>
          <div class="form-group">
            <label for="txt_email">Correo Electrónico</label>
            <input type="email" class="form-control form-control-lg" id="txt_email">
            <small id="emailHelp" class="form-text text-muted">Sugerimos correo eletrónico de uso personal.</small>
          </div>
          <div class="form-group">
            <label for="txt_titulo">Título</label>
            <input type="text" class="form-control form-control-lg" id="txt_titulo">
          </div>
          <div class="form-group">
            <label for="txt_descripcion">Descripción</label>
            <textarea class="form-control form-control-lg" id="txt_descripcion" rows="6"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-lg btn-primary" id="btnEnviar">Enviar</button>
          <button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

</body>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
<script>

  const msgerForm = get(".msger-inputarea");
  const msgerInput = get(".msger-input");
  const msgerChat = get(".msger-chat");
  var c_trigger = 0;

  var now = new Date();
  var randomNum = '';
  randomNum += Math.round(Math.random()*9);
  randomNum += Math.round(Math.random()*9);
  randomNum += now.getTime();
  const session_id = document.getElementById("ID_UNIQUE").value = randomNum;

  // Icons made by Freepik from www.flaticon.com
  const BOT_IMG = "https://image.flaticon.com/icons/svg/327/327779.svg";
  const PERSON_IMG = "https://image.flaticon.com/icons/svg/145/145867.svg";
  const BOT_NAME = "    ChatBot";
  const PERSON_NAME = "Tú";

  $('.msg-info-time').text(function() {
      return formatDate(new Date());
  });

  msgerForm.addEventListener("submit", event => {
    event.preventDefault();

    const msgText = msgerInput.value;
    if (!msgText) return;

    appendMessage(PERSON_NAME, PERSON_IMG, "right", msgText);
    msgerInput.value = "";
    botResponse(msgText);
  });

  function appendMessage(name, img, side, text) {
    //   Simple solution for small apps
    const msgHTML = `
    <div class="msg ${side}-msg">
      <div class="msg-img" style="background-image: url(${img})"></div>

      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-name">${name}</div>
          <div class="msg-info-time">${formatDate(new Date())}</div>
        </div>

        <div class="msg-text">${text}</div>
      </div>
    </div>
    `;

    msgerChat.insertAdjacentHTML("beforeend", msgHTML);
    msgerChat.scrollTop += 500;
  }

  
  function botResponse(rawText) {
    $.get("chatting", { msg: rawText, s_user: sessionStorage.getItem("s_user"), session_id: session_id }).done(function (data) {

      var msgText, intention;
      $.each(data, function(key,value) { msgText = value.res; intention = value.ints; });
      
      switch(intention) {
        case "Sinrespuesta": 
          if(c_trigger > 2) {
            msgText = "Por favor, rellene el formulario para poder aclarar sus dudas mediante correo.";
            $("#mymodal").modal();
          } else {
            c_trigger++;
          }
          break;
        case "Auxiliar": 
          $("#mymodal").modal();
          break;
      }

      console.log(c_trigger)
      appendMessage(BOT_NAME, BOT_IMG, "left", msgText);
    });
  }

  var enviarcorreo = $("#btnEnviar").click(function() {
    json_form = {
      "nombre": $("#txt_nombre").val(),
      "correo": $("#txt_email").val(),
      "titulo": $("#txt_titulo").val(),
      "descripcion": $("#txt_descripcion").val()
    };

    $.ajax({
        type: "POST",
        url: "sendingmail",
        data: JSON.stringify(json_form),
        contentType: "application/json",
        dataType: 'json',
        success: function(result) {
            console.log(result.status);
            $("#txt_nombre").val("");
            $("#txt_email").val("");
            $("#txt_titulo").val("");
            $("#txt_descripcion").val("");
            alert("Se realizó correctamente el envio.");
            $("#mymodal").modal('hide');

            appendMessage(BOT_NAME, BOT_IMG, "left", "Ha sido enviado tu mensaje, en breve se contactará el asesor de TI.");
        }
      });
  });


  // Utils
  function get(selector, root = document) {
    return root.querySelector(selector);
  }

  function formatDate(date) {
    const h = "0" + date.getHours();
    const m = "0" + date.getMinutes();

    return `${h.slice(-2)}:${m.slice(-2)}`;
  }

</script>
{% endblock %}