{% extends "base.html" %}

{% block title %}LOGIN PAGE{% endblock %}

{% block styles %}
	{{ super() }}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
{% endblock %}

{% block content %}
<body style="background-color: #666666;">
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="POST" action="/login">
					<span class="login100-form-title p-b-43 font-weight-bold">
						Asistente Virtual LABIBOT
					</span>
					<div>
						<div class="wrap-input100 validate-input" 
							data-validate = "Se requiere el correo electrónico">
							<input class="input100" type="text" name="email">
							<span class="focus-input100"></span>
							<span class="label-input100">Correo Electrónico</span>
						</div>
					</div>
					<div>
						<div class="wrap-input100 validate-input" 
							data-validate="Contraseña es requerida.">
							<input class="input100" type="password" name="passw">
							<span class="focus-input100"></span>
							<span class="label-input100">Contraseña</span>
						</div>
					</div>
	
					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<div class="contact100-form-checkbox pt-3">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Recuérdame
							</label>
						</div>
						<!--div>
							<a href="#" class="txt1">
								¿Olvidaste la contraseña?
							</a>
						</div-->
					</div>
			
	
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Acceder
						</button>
					</div>
					
					<!--div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							o accede usando
						</span>
					</div>
	
					<div class="login100-form-social flex-c-m">
						<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
							<i class="fa fa-facebook-f" aria-hidden="true"></i>
						</a>
	
						<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</div-->
				</form>
	
				<div class="login100-more" style="background-image: url('static/images/bg-01.jpg');">
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}
	
{% block scripts %}
{{ super() }}
<script src="static/js/main.js"></script>
{% endblock %}
